.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #00000090;
  position: relative;

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;

    i {
      color: #fff;
    }
  }

  form {
    width: 100%;
    max-width: 400px;
    padding: 50px 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    h1 {
      text-align: center;
      margin-bottom: 30px;
      font-weight: 500;
    }

    input {
      width: 100%;
      margin-bottom: 15px;
      padding: 13px 10px;
      border: none;
      border-radius: 5px;
      outline: none;
    }

    button {
      width: 100%;
      padding: 13px 10px;
      border: none;
      border-radius: 5px;
      background-color: var(--primary-color);
      color: #fff;
      cursor: pointer;
    }

    .accountMissing {
      margin-top: 15px;
      text-align: center;

      a {
        color: var(--primary-color);
        text-decoration: none;
        margin-left: 5px;
      }
    }
  }
}
